{% extends "base.html" %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='edit_template.css') }}">
{% endblock css %}
{% block js %}
{{ super() }}
<script scr="{{ url_for('static', filename='edit_template.js') }}"></script>
{% endblock js %}
{% block content %}

<form class="" action="{{ url_for('views.edit_template', template_id=template.id) }}" method="POST">
<div class="template"> 
    {{ form.hidden_tag() }}
    {{ form.name.label(class_="heading") }}
    {{ form.name (class_="heading") }}
    
    {{ form.description.label(class_="description") }}
    {{ form.description(class_="description") }}
    
    {% for item in form.items %} 
        {{ item.hidden_tag() }}
        {{ item.form.itemtype(class_="item") }}
        {{ item.form.name(class_="item") }}
    {% endfor %}
    
    <input type="submit">
</div> 
</form>
<form action="{{ url_for('views.add_template_item', template_id=template.id) }}" method="POST">
        <input value="Add Item" type="submit">
    </form>

{% endblock content %}